.header{
    background: linear-gradient(90deg,#d9ed92 1%,#76c893 40%);
    font-family: "Apple Chancery";
    font-weight: 900;
    font-style: italic;
}

// .logo{
//    width: 50%;
//    height: 100%;
// }

.navbarHome{
   background: linear-gradient(90deg,#1e6091 1%,#1a759f 40%);
}

.logoHome{
    width: 25%;
    height: 25%;
}

.textNavbar{
    color: white;
    font-family: "Microsoft JhengHei";
}