.logo{
    width: 20%;
    //margin-left: 15%;
}

// #basic-navbar-nav{
//     margin-right: 15%;
// }

.navbar-login{
   background: rgba(0, -0, -0, -.1);
   padding: 1% 5% 0;
}

.nav-link-nav{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}

.nav-link-nav:hover{
    color: #fff;
}